<!DOCTYPE html>
<html lang="vi"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/admin-layout.html::head">
</head>
<body class="sb-nav-fixed">
<nav th:replace="admin/admin-layout.html::header">

</nav>
<div id="layoutSidenav">
    <div th:replace="admin/admin-layout.html::menu">
    </div>

    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Tables</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                    <li class="breadcrumb-item active">Tables</li>
                </ol>
                <button class="btn btn-primary  mb-4" type="button" data-bs-toggle="modal" data-bs-target="#addGenre">Thêm thể loại</button>
                <div class="modal fade" id="addGenre" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Thêm thể loại</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form th:action="@{/admin/genre-manager/add}" th:object="${genre}" th:method="post">
                                    <div class="mb-3">
                                        <label class="col-form-label">Tên thể loại</label>
                                        <input type="text" class="form-control" th:field="*{name}">
                                    </div>
                                    <button type="submit" class="btn btn-primary">Send message</button>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Danh sách thể loại
                    </div>
                    <div class="card-body">
                        <table id="datatablesSimple">
                            <thead>
                            <tr>
                                <th>STT</th>
                                <th>Tên thể loại</th>
                                <th>Số phim</th>
                                <th>Hành động</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>STT</th>
                                <th>Tên thể loại</th>
                                <th>Số phim</th>
                                <th>Hành động</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            <tr th:each="item, state : ${lstGenre}">
                                <td th:text="${state.index}">Thor Walton</td>
                                <td th:text="${item.name}"></td>
                                <td>New York</td>
                                <td>
                                    <button class="btn btn-info mx-3" type="button">Sửa</button>
                                    <button class="btn btn-danger" type="button">Xóa</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
        <footer th:replace="admin/admin-layout.html::footer">

        </footer>
    </div>
</div>
<section th:replace="admin/admin-layout.html::js">

</section>
</body>
</html>
