<!DOCTYPE html>
<html lang="vi"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/admin-layout.html::head">
</head>
<body class="sb-nav-fixed">
<nav th:replace="admin/admin-layout.html::header"></nav>
<div id="layoutSidenav">
    <div th:replace="admin/admin-layout.html::menu">
    </div>

    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <form class="mt-4 mb-4 col-4"
                      th:action="@{/admin/image/add}" th:object="${image}"
                      method="post" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="file" class="form-label">Chọn tệp ảnh</label>
                        <input type="file" class="form-control" id="file" th:field="*{file}">
                    </div>
                    <div class="mb-3">
                        <label for="type" class="form-label">Chọn loại video</label>
                        <select id="type" class="form-select" th:field="*{type}">
                            <option value="trailer">Ảnh poster</option>
                            <option value="movie">Ảnh movide</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Thêm ảnh</button>
                </form>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Danh sách thể loại
                    </div>
                    <div class="card-body">
                        <table class="table table-dark table-borderless table-image">
                            <thead>
                            <tr>
                                <th class="text-center">ID</th>
                                <th class="text-center">Hình ảnh</th>
                                <th class="text-center">Thể loại ảnh</th>
                                <th class="text-center">Hành động</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="text-center" th:each="item, state : ${lstImage}">
                                <td id="idImgae" th:text="${item.id}"></td>
                                <td id="sourceImage" class="w-50 h-50">
                                    <img class="w-25 h-25 img-fluid img-thumbnail"  th:src="${item.source}">
                                </td>
                                <td id="typeImage" th:text="${item.type}"></td>
                                <td class="w-25">
                                    <button class="btn btn-info mx-3 btnEditGenre"
                                            th:id="${item.id}"
                                            type="button"
                                            data-bs-target="#addGenre" data-bs-toggle="modal">Sửa</button>
                                    <button class="btn btn-danger btnDeleteGenre" th:id="${item.id}" type="button">Xóa</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>