<!DOCTYPE html>
<html lang="vi"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/admin-layout.html::head">
</head>
<body class="sb-nav-fixed">
<nav th:replace="admin/admin-layout.html::header"></nav>
<div id="layoutSidenav">
    <div th:replace="admin/admin-layout.html::menu">
    </div>

    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <a class="btn btn-primary mb-4 mt-4"
                   type="button" th:href="@{/admin/movies/add}">
                    Thêm phim mới
                </a>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Danh sách thể loại
                    </div>
                    <div class="card-body">
                        <table class="table table-dark">
                            <thead>
                            <tr>
                                <th>STT</th>
                                <th>Mã</th>
                                <th>Tên</th>
                                <th>Mô tả</th>
                                <th>Trạng trái</th>
                                <th>Số tập</th>
                                <th>Lượt xem</th>
                                <th>Hành động</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td id="indexMovie" ></td>
                                <td id="idMovie" ></td>
                                <td id="nameMovie" ></td>
                                <td id="descMovie" ></td>
                                <td id="statusMovie" >
                                    <span class="badge badge-danger"></span>
                                </td>
                                <td id="number"></td>
                                <td id="viewMovie"></td>
                                <td class="w-25">
                                    <button class="btn btn-info mx-3"
                                            type="button">Sửa</button>
                                    <button class="btn btn-danger"type="button">Xóa</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>