<!DOCTYPE html>
<html lang="vi"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/admin-layout.html::head">
</head>
<body class="sb-nav-fixed">
<nav th:replace="admin/admin-layout.html::header"></nav>
<div id="layoutSidenav">
    <div th:replace="admin/admin-layout.html::menu">
    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <div class="row mt-5 d-flex justify-content-center">
                    <div class="col-md-10">
                        <div class="text-center mb-3">
                            <h1>THEM PHIM MOI</h1>
                        </div>
                        <form th:action="@{/admin/movies/add}"
                              th:object="${movie}"
                              method="post"
                              enctype="multipart/form-data">
                            <div class="mb-3">
                                <label for="title" class="form-label">Tieu de</label>
                                <input type="text" id="title" th:field="*{title}" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label for="number" class="form-label">So tap</label>
                                <input type="number" id="number" th:field="*{number}" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label for="duration" class="form-label">Thoi luong</label>
                                <input type="number" id="duration" th:field="*{duration}" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label  class="form-label">Nam phat hanh</label>
                                <select id="releaseYear" class="form-control" th:field="*{yearRelease}" >
                                    <option th:each="item : ${#numbers.sequence(1990, 2021)}"
                                            th:value="${item.valueOf(item)}"
                                            th:text="${item.valueOf(item)}">
                                    </option>

                                </select>
                            </div>
                            <div class="mb-3">

                                <div>
                                    <label>Main Image: [[${movie.mainImage}]]</label>

                                    <div>
                                        <input type="file" id="fileImage" name="fileImage"
                                               accept="image/png, image/jpeg">
                                    </div>
                                    <input type="hidden" th:field="*{mainImage}">
                                </div>
                            </div>


                                <div class="mb-3">
                                    <label>Chon Trailer video: [[${movie.trailerVideo}]]</label>
                                    <div>
                                        <input type="file" name="fileVideo"
                                               accept="image/png, image/jpeg">
                                    </div>
                                    <input type="hidden" th:field="*{mainImage}">
                                </div>

                            <div>

                                <div>
                                    <label>Chon video movie: </label>
                                    <div th:id="'extraImageHeader' + 0">
                                        <label>Video #1</label></div>
                                    <div class="m-2">

                                    </div>
                                    <div>
                                        <input type="file" name="movieVideo"
                                               class="mb-2">
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="cast" class="form-label">Ten dien vien</label>
                                <input type="text" id="cast"
                                       class="form-control"
                                       placeholder="Yeu cau cac ten dien vien cach nhau bang dau phay">
                            </div>
                            <div class="mb-3">
                                <label  class="form-label">Ten dao dien</label>
                                <select required="required" multiple style="resize: vertical; height: 100px" class="form-control"
                                        th:field="*{directors}">
                                    <th:block th:each="cat: ${lstDirector}">
                                        <option th:value="${cat.id}" >[[${cat.name}]]</option>
                                    </th:block>
                                </select>

                            </div>
                            <div class="mb-3">
                                <label class="form-label">The loai</label>
                                <select required="required" multiple style="resize: vertical; height: 100px" class="form-control"
                                        th:field="*{genres}">
                                    <th:block th:each="cat: ${lstGenre}">
                                        <option th:value="${cat.id}" >[[${cat.name}]]</option>
                                    </th:block>
                                </select>


                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Chosen genres</label>
<!--                                <div class="col-sm-8">-->
<!--                                    <div id="chosenGenres"></div>-->
<!--                                </div>-->
                            </div>
                            <div id="chosenGenres"></div>
                            <div class="mb-3">
                                <label class="form-label">Quoc gia</label>
                                <select required="required" multiple style="resize: vertical; height: 100px" class="form-control"
                                        th:field="*{countries}">
                                    <th:block th:each="cat: ${lstCountry}">
                                        <option th:value="${cat.id}" >[[${cat.name}]]</option>
                                    </th:block>
                                </select>


                            </div>
                            <div class="mb-3">
                                <label for="description" class="form-label">Tom tat noi dung phim</label>
                                <textarea type="text"
                                          id="description"
                                          th:field="*{description}"
                                          class="form-control"></textarea>
                            </div>
                            <button type="submit" class="btn btn-info">Luu</button>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function(){
        alert("nhan");
        dropdownGenres = $("#genres");
        divChosenGenres = $("#chosenGenres");

        dropdownGenres.change(function(){
            divChosenGenres.empty();
            showChosenGenres();
        });
        showChosenGenres();
    });

    function showChosenGenres(){
        dropdownGenres.children("option:selected").each(function(){
            selectedGenres = $(this);
            alert(selectedGenres.text());
            genResId = selectedGenres.val();
            genresName = selectedGenres.text();

            divChosenGenres.append("<span >" + genresName + "</span>")
        })
    }

</script>
</body>