<!DOCTYPE html>
<html lang="vi"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/admin-layout.html::head">
</head>
<body class="sb-nav-fixed">
<nav th:replace="admin/admin-layout.html::header">

</nav>
<div id="layoutSidenav">
    <div th:replace="admin/admin-layout.html::menu">
    </div>

    <div id="layoutSidenav_content">
        <main>
            <div th:object="${yearRelease}" class="container-fluid px-4">
                <a class="btn btn-primary mb-4 mt-4"
                        data-bs-target="#addYearRelease" data-bs-toggle="modal"
                   >
                    Thêm năm phát hành
                </a>
                <div aria-hidden="true"
                     aria-labelledby="exampleModalLabel"
                     class="modal fade"
                     id="addYearRelease"
                     tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal"
                                        type="button"></button>
                            </div>
                            <div class="modal-body" >
                                <form th:action="@{/YearRelease/add}" method="post"  >
                                    <div class="mb-3">
                                        <label class="col-form-label">Năm phát hành</label>
                                        <input id="txtIdYearRelease" class="form-control" type="hidden" th:field="*{id}">
                                        <select th:field="*{year}" class="yearSelect form-control" >

                                            <th:block th:each="i:${#numbers.sequence(1960,2021)}">
                                                <option selected  th:value="${i}" >[[${i}]]</option>
                                            </th:block>
                                        </select>
                                    </div>
                                    <input class="btn btn-primary" type="submit" value="ADD">
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
                <div aria-hidden="true"
                     aria-labelledby="exampleModalLabel"
                     class="modal fade"
                     id="editYearRelease"
                     tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Thêm năm phát hành</h5>
                                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal"
                                        type="button"></button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="mb-3">
                                        <label class="col-form-label">Tên năm phát hành</label>
                                        <input id="a" class="form-control" type="text">
                                    </div>
                                    <button id="btnEdit" type="button"
                                            class="btn btn-primary" data-bs-dismiss="modal">Send message</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Danh sách năm phát hành
                    </div>
                    <div class="card-body">
                        <table id="datatablesSimple">
                            <thead>
                            <tr>
                                <th class="text-center">ID</th>
                                <th class="text-center">Năm phát hành</th>
<!--                                <th class="text-center">Hành động</th>-->
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="text-center" th:each="item, state : ${lstYearRelease}">
                                <td id="idYearRelease" th:text="${item.id}"></td>
                                <td id="nameYearRelease" th:text="${item.year}"></td>
                                <td>
                                    <a class="btn btn-danger" th:href="@{'/year-release/delete/' + ${item.id}}">Xóa</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
        <footer th:replace="admin/admin-layout.html::footer">
        </footer>
    </div>
</div>
<section th:replace="admin/admin-layout.html::js">
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!--<script type="application/javascript" th:src="@{/admin/js/year-release.js}">-->

</script>
</body>
</html>
