.container-movie{
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
    height: 110%;
}
.column {
    float: left;
    padding: 2rem;
}

.left {
    width: 25%;
    height: auto;
}

.right {
    width: 60%;
    height: auto;
}

/* Clear floats after the columns */
.row{
    margin-top: 5rem;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.img-poster{
    width: 20rem;
    height: auto;
}
.tilte-movie{
    color: yellow;
}

.tilte-movie h1{
    font-size: 1.8rem;
    font-weight: 100;
    margin: 0px;
}

.actions{
    margin-top: 0.5rem;
}
.actions i{
    font-size: 1.5rem;
}
.actions a{
    color: rgba(255, 255, 255, 0.658);
    text-align: center;
    margin-top: 0.5rem;
    font-size: 12px;
    margin-right: 60px;
}

.left-btn{
    padding: 0rem;
    width: 50%;
}

.right-btn{
    padding: 0rem;
    width: 50%;
}
.button1 {
    background-image: linear-gradient(135deg, #008aff, #86d472);
    border-radius: 6px;
    box-sizing: border-box;
    color: #ffffff;
    display: block;
    height: 50px;
    font-size: 1.4em;
    font-weight: 600;
    padding: 4px;
    position: relative;
    text-decoration: none;
    width: 7em;
    z-index: 2;
}
.button1:hover {
    color: #fff;
}

.button1 .btn1 {
    align-items: center;
    background: #0e0e10;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    height: 100%;
    transition: background 0.5s ease;
    width: 100%;
}

.button1:hover .btn1 {
    background: transparent;
}

.desc-movie{
    margin-top: 1rem;
}

.row-detail{
    margin-top: 1rem;
}

.row-detail:after {
    content: "";
    display: table;
    clear: both;
}

.detail{
    list-style: none;
    padding-left: 0rem;
}
.detail li p{
    color: yellow;
    font-size: 0.8rem;
    padding-bottom: 0.4rem;
}

.container-comment{
    width: 88%;
    margin-left: 1.6rem;
    margin-right: 1.6rem;
    background: #fff;
    border-radius: 8px;
    padding: 18px;
    margin-top: 2rem;
}


.comment {
    display: block;
    transition: all 1s;
}
.comment p{
    color: black;
}
.commentClicked {
    min-height: 0px;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 5px 10px
}
.container-comment textarea {
    width: 95%;
    border: none;
    background: #E8E8E8;
    padding: 5px 10px;
    height: 50%;
    border-radius: 5px 5px 0px 0px;
    border-bottom: 2px solid #016BA8;
    transition: all 0.5s;
    color: black;
    margin-top: 15px;
}
.primaryContained {
    background: #016ba8;
    color: black;
    padding: 10px 10px;
    border: none;
    margin-top: 0px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 4px;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
    transition: 1s all;
    font-size: 10px;
    border-radius: 5px;
}

.primaryContained:hover {
    background: #9201A8;
}

.checked {
    color: orange;
}

.block-trailer{
    max-width: 96%  ;
    padding-right: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
}

.block-trailer p{
    width: 96%;
    font-size: 1.4rem;
    color: rgb(204, 204, 98);
    background-color: green;
}

.block-trailer iframe{
    width: 96%;
    height: 500px;
}

.more-like-this{
    padding-right: 2rem;
    padding-bottom: 2rem;
    padding-left: 1.4rem;
}

.title-relate{
    width: 96%;
    font-size: 1.4rem;
    color: rgb(204, 204, 98);
    background-color: green;
}

.column-movie-relate{
    float: left;
    width: 25%;
    padding-bottom: 2rem;
}
.column-movie-relate .img-relate{
    width: 84%;
    height: auto;
}
.row-movie-relate{
    margin-top: 0rem;
}
.row-movie-relate:after {
    content: "";
    display: table;
    clear: both;
}

.container-pagination{
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    text-align: center;
}
.comment h6{
    font-weight: bold;
    font-family: ui-monospace;
    font-size: 16px;
}
.comment p{
    display: inline;
    padding-left: 2rem;
    font-size: 14px;
}
.comment i{
    display: block;
    padding-left: 2rem;
    font-size: 12px;
}

p, li, a{
    font-size: 16px;
}

.pagination{
    padding: 30px 0;
}

.pagination ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.pagination a{
    display: inline-block;
    padding: 10px 18px;
    color: yellow;
}

.p1 a{
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    text-align: center;
}

.p1 a.is-active{
    background-color: #2ecc71;
    border-radius: 100%;
    color: #fff;
}

.video-container{
    margin-top: 6rem;
    width: 96%;
}

.container-movie .row .movie-description .video-title{
    text-transform: uppercase;
    margin-bottom: 12px;
    margin-top: 12px;
}
.container-movie .row .movie-description .video-genre{
    text-transform: uppercase;
    border: 1px solid yellow;
    padding: 1px 8px;
    display: inline-block;
    margin-top: 0;
    font-size: 16px;
    text-decoration: none;
    color: green;
    margin-right: 1rem;
    cursor: pointer;
}
.container-movie .row .movie-description{
    width: 96%;
}
.container-movie .row .movie-description p{
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: white;
    text-align: justify;
}

hr{
    color: white;
    width: 96%;
}
#rating{
    border:none;
    float:left;
}
#rating>input{
    display:none;
}/*ẩn input radio - vì chúng ta đã có label là GUI*/
#rating>label:before{
    margin:5px;
    font-size:1.25em;
    font-family:FontAwesome;
    display:inline-block;
    content:"\f005";
}/*1 ngôi sao*/
#rating>.half:before{
    content:"\f089";
    position:absolute;
}/*0.5 ngôi sao*/
#rating>label{
    color:#ddd;
    float:right;
}/*float:right để lật ngược các ngôi sao lại đúng theo thứ tự trong thực tế*/
/*thêm màu cho sao đã chọn và các ngôi sao phía trước*/
#rating>input:checked~label,
#rating:not(:checked)>label:hover,
#rating:not(:checked)>label:hover~label{color:#FFD700;}
/* Hover vào các sao phía trước ngôi sao đã chọn*/
#rating>input:checked+label:hover,
#rating>input:checked~label:hover,
#rating>label:hover~input:checked~label,
#rating>input:checked~label:hover~label{
    color:#FFED85;
}

.grid-container-relate {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: black;
    width: 1070.970px;
}

.grid-item-relate {
    font-size: 30px;
    text-align: center;
    width: 100%;
    height: 400px;
    margin-top: 2rem;

}

.grid-item-relate img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
}
.grid-item-relate-img{
    position: relative;
}
.infor-movie-relate h4{
    font-size: 1rem;
}
.infor-movie-relate p{
    font-size: 0.8rem;
}
.grid-item-relate .infor-movie-relate {
    position: absolute;
    bottom: 6rem;
    left: 9rem;
    text-align: left;
    display: block;
    color: yellow;

    font-family: sans-serif;
}