<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
>
<head th:replace="web/layout :: head">

</head>
<body>
<header th:replace="web/layout :: header">
</header>


<section class="container-movie">
    <div class="row">
        <div class="column left">
            <img class="img-poster" src="https://static.247phim.com/163045/conversions/6152beaf4f503_a5wqWGe-435_627.jpg" alt="">
        </div>
        <div class="column right">
            <div class="details-movie">
                <div class="tilte-movie">
                    <h1 th:text="${movie.title}">Tên phim trình chiếu</h1>
                </div>
                <div class="actions d-flex flex-start flex-middle">
                    <a href="#" class="link-item">
                        <i class="fa fa-plus"></i></br>
                        Yêu thích
                    </a>
                    <a href="#" class="link-item">
                        <i class="fa fa-eye"></i></br>
                        Lượt xem
                    </a>
                    <a href="#" class="link-item">
                        <i class="fa fa-share"></i></br>
                        Share
                    </a>
                </div>
            </div>
            <div class="row-detail">
                <div class="column left-btn">
                    <a class="button1" href="#trailer">
                            <span class="btn1">
                                Xem Trailer</span></a>
                </div>
                <div class="column right-btn">
                    <a class="button1" href="https://www.niemvuilaptrinh.com/">
                        <span class="btn1">Xem Phim</span></a>
                </div>
            </div>
            <div class="desc-movie">
                <p th:text="${movie.description}">
                </p>
            </div>
            <div class="row-detail">
                <div class="column left-btn">
                    <ul class="detail">
                        <li>
                            <p th:text="${'Thời lượng: ' + movie.duration +' Phút'}"></p>
                        </li>
                        <li>
                            <p th:text="${'Đạo diễn: ' + movie.director}"></p>
                        </li>
                        <li>
                            <p th:text="${'Quốc gia: ' + movie.country}"></p>
                        </li>
                        <li>
                            <p th:text="${'Thể loại: ' + movie.genre}"></p>
                        </li>
                        <li>
                            <p th:text="${'Phát hành: ' + movie.releaseYear.year}"> </p>
                        </li>
                    </ul>
                </div>
                <div class="column right-btn">
                    <ul class="detail">
                        <li>
                            <p th:text="${'Diễn viên: ' + movie.cast}"></p>
                        </li>
                        <li>
                            <div class="rate">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <span id="trailer"></span>
        </div>
    </div>

    <div class="row">
        <div class="block-trailer">
            <div class="caption">
                <p>
                    <i class="fa fa-film"></i>
                    trailer phim ne
                </p>
            </div>
            <div class="trailer-player">
                <iframe  src="https://www.youtube.com/embed/dZJYS6gXqNU" title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>
        </div>
    </div>



    <div class="container-comment">
        <div>
            <div class="col-6">
                <div class="comment">
                    <p>
                        alo
                    </p>
                </div>
            </div>
        </div>
        <div>
            <div class="col-6">
                <textarea type="text" class="input" placeholder="Write a comment" v-model="newItem"></textarea>
                <button class='primaryContained float-right' type=" submit">Add Comment</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="more-like-this">
            <div class="title-relate">
                <h4 class="romantic-heading">
                    More LIke This
                </h4>
            </div>
            <div class="row-movie-relate">
                <div class="column-movie-relate">
                    <a href="#">
                        <img class="img-relate" src="https://static.247phim.com/162725/conversions/611dbc94677da_nga-435_627.jpg">
                    </a>
                </div>
                <div class="column-movie-relate">
                    <a href="#">
                        <img class="img-relate" src="https://static.247phim.com/162725/conversions/611dbc94677da_nga-435_627.jpg">
                    </a>
                </div>
                <div class="column-movie-relate">
                    <a href="#">
                        <img class="img-relate" src="https://static.247phim.com/162725/conversions/611dbc94677da_nga-435_627.jpg">
                    </a>
                </div>
                <div class="column-movie-relate">
                    <a href="#">
                        <img class="img-relate" src="https://static.247phim.com/162725/conversions/611dbc94677da_nga-435_627.jpg">
                    </a>
                </div>
                <div class="column-movie-relate">
                    <a href="#">
                        <img class="img-relate" src="https://static.247phim.com/162725/conversions/611dbc94677da_nga-435_627.jpg">
                    </a>
                </div>

            </div>
        </div>
    </div>

</section>
<footer th:replace="web/layout::footer">

</footer>
<script type="application/javascript" th:src="@{web/js/movie-detail.js}"></script>
</body>
</html>