<!DOCTYPE html>
<html lang="vi"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/layout/admin-layout.html::head">
</head>
<body class="sb-nav-fixed">
<nav th:replace="admin/layout/admin-layout.html::header"></nav>
<div id="layoutSidenav">
    <div th:replace="admin/layout/admin-layout.html::menu">
    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <div class="row mt-5 d-flex justify-content-center">
                    <div class="col-md-10">
                        <div class="text-center mb-3">
                            <h1>Thêm phim mới</h1>
                        </div>
                        <form th:action="@{/admin/movies/add}"
                              th:object="${movieRequest}"
                              method="post"
                              enctype="multipart/form-data">
                            <div class="mb-3">
                                <label class="form-label" for="title">Tiêu đề</label>
                                <input class="form-control"
                                       id="title" type="text"
                                       th:field="*{title}">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="number">Số lượng tập</label>
                                <input class="form-control"
                                       id="number" type="number"
                                       th:field="*{number}">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="number">Tập tải lên</label>
                                <input class="form-control" id="current"
                                       type="number"
                                       th:field="*{current}">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="duration">Thời lượng</label>
                                <input class="form-control" id="duration"
                                       type="number"
                                       th:field="*{duration}">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Năm phát hành</label>
                                <select class="form-control mb-3" id="releaseYear" th:field="*{releaseYear}">
                                    <option th:each="item : ${#numbers.sequence(1990, 2021)}"
                                            th:value="${item.valueOf(item)}"
                                            th:text="${item.valueOf(item)}">
                                    </option>
                                </select>

                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="imagePoster">Tải ảnh poster</label>
                                <input class="form-control"
                                       accept="image/png, image/jpeg"
                                       id="imagePoster"
                                       type="file" th:field="*{imagePoster}">

                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="imageWatch">Tải ảnh banner</label>
                                <input class="form-control"
                                       accept="image/png, image/jpeg"
                                       id="imageWatch"
                                       type="file" th:field="*{imageWatch}">
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="videoTrailer">Đường dẫn trailer của youtube</label>
                                <input class="form-control" id="videoTrailer"
                                       type="text" th:field="*{videoTrailer}">
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="videoMovie">Tải phim lên</label>
                                <input class="form-control" id="videoMovie"
                                       type="file" th:field="*{videoMovie}">
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="cast">Diễn viên</label>
                                <select class="form-control mb-3" id="select-cast" onchange="selectCast()">
                                    <option th:each="item : ${casts}"
                                            th:value="${item.name}"
                                            th:text="${item.name}">
                                    </option>
                                </select>
                                <input id="cast"
                                     th:field="*{cast}"
                                     class="alert alert-info form-control"
                                       placeholder="Mỗi đối tượng cách nhau bằng dấu phẩy"
                                     role="alert">
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="director">Đạo diễn</label>
                                <select class="form-control mb-3" id="select-director" onchange="selectDirector()">
                                    <option th:each="item : ${directors}"
                                            th:value="${item.name}"
                                            th:text="${item.name}">
                                    </option>
                                </select>
                                <input id="director"
                                       th:field="*{director}"
                                       class="alert alert-info form-control"
                                       role="alert"
                                       placeholder="Mỗi đối tượng cách nhau bằng dấu phẩy">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="genre">Thể loại</label>
                                <select class="form-control mb-3" id="select-genre" onchange="selectGenre()">
                                    <option th:each="item : ${genres}"
                                            th:value="${item.name}"
                                            th:text="${item.name}">
                                    </option>
                                </select>
                                <input id="genre"
                                       th:field="*{genre}"
                                       class="alert alert-info form-control"
                                       role="alert"
                                       placeholder="Mỗi đối tượng cách nhau bằng dấu phẩy">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="country">Quốc gia</label>
                                <select class="form-control mb-3" id="select-country" onchange="selectCountry()">
                                    <option th:each="item : ${countries}"
                                            th:value="${item.name}"
                                            th:text="${item.name}">
                                    </option>
                                </select>
                                <input
                                        id="country"
                                       th:field="*{country}"
                                       class="alert alert-info form-control"
                                       role="alert"
                                        placeholder="Mỗi đối tượng cách nhau bằng dấu phẩy">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="description">Tóm tắt nội dung phim</label>
                                <textarea type="text"
                                          id="description"
                                          th:field="*{description}"
                                          class="form-control"></textarea>
                            </div>
                            <button class="btn btn-info mx-4" type="submit">Lưu</button>
                            <a class="btn btn-default" type="button"
                               th:href="@{/admin/movies}">Thoát</a>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<script type="application/javascript" th:src="@{/admin/js/movie.js}">
</script>
</body>