<!DOCTYPE html>
<html th:lang="vi"
      xmlns:th="http://www.thymeleaf.org">
<body>
<header th:fragment="header"
        class="d-flex space-between flex-center flex-middle">
    <ul class="nav-links d-flex flex-center flex-middle" id="header-ul-li">
        <li>
            <a href="/">
                <h2 class="logo logo-text logo-color f-s-28 m-r-25">MovieOline</h2>
            </a>
        </li>
        <li>
            <a class="nav-item home" href="http://localhost:8080/">Trang Chủ</a>
        </li>
        <li>
            <a class="nav-item" th:href="@{/movies/{genre}(genre='Phim mới')}">Phim Mới</a>
        </li>
        <li>
            <a class="nav-item" th:href="@{/movies/{genre}(genre='Phim truyền hình')}">Phim Bộ</a>
        </li>
        <li>
            <a class="nav-item" th:href="@{/movies/{genre}(genre='Phim chiếu rạp')}">Phim Lẻ</a>
        </li>
        <li id="header-genre" class="dropdown">
            <a class="nav-item latest">Thể Loại</a>
            <ul class="sub-nav">
                <th:block>
                    <li th:each="g:${genres}">
                        <a th:href="@{/movies/search-genre/{genre}(genre=${g.name})}" th:text="${g.name}"></a>
                    </li>
                </th:block>
            </ul>
        </li>
        <li>
            <a class="nav-item">Quốc Gia</a>
            <ul class="sub-nav">
                <th:block>
                    <li th:each="c:${countries}">
                        <a th:href="@{/movies/search-contry/{country}(country=${c.name})}" th:text="${c.name}"></a>
                    </li>
                </th:block>
            </ul>
        </li>
    </ul>

    <div class="righticons d-flex flex-end flex-middle">
        <a th:href="@{/movies/search}">
            <i aria-hidden="true" class="fa fa-search icon-search"></i>
        </a>
        <div class="dropdown notification">
            <div class="dropdown-content">
                <a class="profile-item d-flex flex-middle" href="#">

                </a>
            </div>
        </div>

        <div class="dropdown">
            <i class="fa fa-info-circle icon-info" aria-hidden="true" ></i>
            <span class="profile-arrow"></span>
            <div class="dropdown-content">
                <div class="links d-flex direction-column">
                    <a th:href="@{/login}">Đăng nhập</a>
                    <a th:href="@{/logout}">Đăng xuất</a>
                </div>
            </div>
        </div>
    </div>
</header>
</body>
</html>
