<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
>
<head th:replace="web/layout/head :: head">
</head>
<body>
<header th:replace="web/layout/header :: header">

</header>


<section class="container-movie">
    <div class="row">
        <div class="video-container">
            <video controls  id="player"
                th:poster="${movie.banner}">
                <!-- Video files -->
                <source th:src="@{/api/stream/video/{id}(id=${movie.id})}"
                        type="video/mp4">
            </video>
        </div>
        <div class="movie-description">
            <h3 class="video-title" th:text="${movie.title}"></h3>
            <th:block th:each="item:${movie.getGenres()}">
                <h3 class="video-genre"><a th:text="${item}"></a></h3>
            </th:block>
        </div>
        <div class="actions d-flex flex-start flex-middle" th:id="${movie.id}">
            <a href="#" id="add-to-favorite-list" class="link-item">
                <i class="fa fa-plus"></i></br>
                <p style="color: yellow">Yêu thích</p>
            </a>
            <a href="#" class="link-item">
                <i class="fa fa-eye"></i></br>
                <p style="color: yellow"  th:text="${'Lượt xem: ' +movie.view}"></p>
            </a>
        </div>

        <div class="movie-description">
            <hr>
            <h4 class="video-title" th:text="${movie.title}"></h4>
            <p th:text="${movie.description}"></p>
            <hr>
        </div>
        <div class="movie-description">
            <h4 class="video-title">Vui lòng đánh giá phim</h4>
        </div>
        <div id="rating">
            <input type="radio" id="star5" name="rating" value="5" class="rate-movie"/>
            <label class = "full" for="star5" title="Awesome - 5 stars"></label>

            <input type="radio" id="star4half" name="rating" value="4 and a half" class="rate-movie"/>
            <label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>

            <input type="radio" id="star4" name="rating" value="4" class="rate-movie"/>
            <label class = "full" for="star4" title="Pretty good - 4 stars"></label>

            <input type="radio" id="star3half" name="rating" value="3 and a half" class="rate-movie"/>
            <label class="half" for="star3half" title="Meh - 3.5 stars"></label>

            <input type="radio" id="star3" name="rating" value="3" class="rate-movie"/>
            <label class = "full" for="star3" title="Meh - 3 stars"></label>

            <input type="radio" id="star2half" name="rating" value="2 and a half" class="rate-movie"/>
            <label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>

            <input type="radio" id="star2" name="rating" value="2" class="rate-movie"/>
            <label class = "full" for="star2" title="Kinda bad - 2 stars"></label>

            <input type="radio" id="star1half" name="rating" value="1 and a half" class="rate-movie"/>
            <label class="half" for="star1half" title="Meh - 1.5 stars"></label>

            <input type="radio" id="star1" name="rating" value="1" class="rate-movie"/>
            <label class = "full" for="star1" title="Sucks big time - 1 star"></label>

            <input type="radio" id="starhalf" name="rating" value="half" class="rate-movie"/>
            <label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
        </div>

    </div>

    <th:block>
        <div class="container-comment" id="root-comment">
            <div class="col-6">
                <div class="comment">
                </div>
            </div>
            <div class="col-6">
                <textarea class="input-comment" placeholder="Write a comment" type="text"></textarea>
                <button th:id="${movie.id}"
                        class='primaryContained float-right btn-add-comment' type="submit">Bình luận</button>
            </div>
        </div>
    </th:block>

    <th:block th:each="item, iStat: ${lstParentComment}">
        <div class="container-comment">
            <th:block th:each="comment: ${item.getComments()}">
                <div class="col-6" >
                    <div class="comment">
                        <h6 style="color:black;" th:text="${comment.user.name}">
                        </h6>
                        <p style="color:black;" th:text="${comment.content}">
                        </p>
                        <i style="color:black;"  th:text="${comment.createDate}" class="create-date">
                        </i>
                    </div>
                </div>
            </th:block>
            <div class="col-6" th:id="${item.id}">
                    <textarea class="input-comment"
                              placeholder="Write a comment"
                              type="text"></textarea>
                <button th:id="${movie.id}"
                        class='primaryContained float-right btn-add-comment' type=" submit">Bình luận</button>
            </div>
        </div>
    </th:block>
    <div class="container-pagination">
        <div class="pagination p1">
            <ul>
                <a th:if="${currentPage>1}"
                   th:href="@{/home/movie/{page}(page=${currentPage}-1,id=${movie.id})}"><li><</li></a>
                <th:block th:each="item:${#numbers.sequence(1,totalPage)}">
                    <a class="is-active"
                       th:if="${item==currentPage}"
                       th:href="@{/home/movie/{page}(page=${item},id=${movie.id})}"
                       th:text="${item}">1</a>
                    <a
                            th:unless="${item==currentPage}"
                            th:href="@{/home/movie/{page}(page=${item},id=${movie.id})}"
                            th:text="${item}">1</a>
                </th:block>
                <a th:if="${currentPage<totalPage}"
                   th:href="@{/home/movie/{page}(page=${currentPage+1},id=${movie.id})}"><li>></li></a>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="more-like-this">
            <div class="title-relate">
                <h4 class="romantic-heading">
                    PHIM LIÊN QUAN
                </h4>
            </div>
            <div class="grid-container-relate" >
                <th:block th:each="item:${moviesRelate}">
                    <th:block th:each="img:${item.getImages()}">
                        <div class="grid-item-relate" th:if="${img.type=='poster'}">
                            <a th:href="@{/home/movie/(id=${item.id})}" class="grid-item-relate-img">
                                <img alt="" th:src="${img.source}">
                                <div class="infor-movie-relate">
                                    <h4 th:text="${item.title}">}</h4>
                                    <th:block th:each="genre:${item.genres}">
                                        <p th:text="${genre.name}"></p>
                                    </th:block>
                                </div>
                            </a>
                        </div>
                    </th:block>
                </th:block>
            </div>
        </div>
    </div>
</section>

<footer th:replace="web/layout/footer ::footer">

</footer>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        // This is the bare minimum JavaScript. You can opt to pass no arguments to setup.
        const player = new Plyr('#player');
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" type="application/javascript">
</script>
<script th:src="@{/web/js/movie-detail.js}" type="application/javascript"></script>
<script>
    window.onload=function (){
        let createTime=document.getElementsByClassName("create-date");
        for (let i=0;i<createTime.length;i++){
            createTime[i].innerText= "đã bình luận "+moment(createTime[i].innerText).fromNow();
        }
    }

</script>
</body>
</html>