<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
>
<head th:replace="web/layout/head :: head">

</head>
<body>
<header th:replace="web/layout/header :: header">
</header>


<section class="container-movie">
    <div class="row">
        <div class="column left">
            <img class="img-poster" th:src="${movie.img}" alt="">
        </div>
        <div class="column right">
            <div class="details-movie">
                <div class="tilte-movie">
                    <h1 th:text="${movie.title}">Tên phim trình chiếu</h1>
                </div>
                <div class="actions d-flex flex-start flex-middle" th:id="${movie.id}">
                    <a href="#" id="add-to-favorite-list" class="link-item">
                        <i class="fa fa-plus"></i></br>
                        <p style="color: yellow">Yêu thích</p>
                    </a>
                    <a href="#" class="link-item">
                        <i class="fa fa-eye"></i></br>
                        <p style="color: yellow"  th:text="${'Lượt xem: ' +movie.view}"></p>
                    </a>
                    <a href="#" class="link-item">
                        <i class="fa fa-share"></i></br>
                        Share
                    </a>
                </div>
            </div>
            <div class="row-detail">
                <div class="column left-btn">
                    <a class="button1" href="#trailer">
                            <span class="btn1">
                                Xem Trailer</span></a>
                </div>
                <div class="column right-btn">
                    <a class="button1 btn-watch-movie" th:id="${movie.id}">
                        <span class="btn1">Xem Phim</span></a>
                </div>
            </div>
            <div class="desc-movie">
                <p th:text="${movie.description}">
                </p>
            </div>
            <div class="row-detail">
                <div class="column left-btn">
                    <ul class="detail">
                        <li>
                            <p th:text="${'Trạng thái: ' + movie.currentEpisode +'/'+movie.number}"></p>
                        </li>
                        <li>
                            <p th:text="${'Thời lượng: ' + movie.duration +' Phút'}"></p>
                        </li>
                        <li>
                            <p th:text="${'Đạo diễn: ' + movie.director}"></p>
                        </li>
                        <li>
                            <p th:text="${'Quốc gia: ' + movie.country}"></p>
                        </li>
                        <li>
                            <p th:text="${'Thể loại: ' + movie.genre}"></p>
                        </li>
                        <li>
                            <p th:text="${'Phát hành: ' + movie.releaseYear}"> </p>
                        </li>
                    </ul>
                </div>
                <div class="column right-btn">
                    <ul class="detail">
                        <li>
                            <p th:text="${'Diễn viên: ' + movie.cast}"></p>
                        </li>
                        <li>
                            <p th:text="${'Số lượt đánh giá: ' + movie.totalRating}"></p>
                        </li>
                        <li>
                            <p th:text="${'Đánh giá: ' + movie.rating}"></p>
                        </li>
                    </ul>
                </div>
            </div>
            <span id="trailer"></span>
        </div>
    </div>
    <div class="number-movie">
        <div class="justify-content-center">
            <h6>Tập phim</h6>
        </div>
        <ul class="list-number-movie">
            <li th:each="star:${#numbers.sequence(1,movie.currentEpisode)}"
                th:text="${star}"></li>
        </ul>
    </div>
    <div class="row">
        <div class="block-trailer">
            <div class="caption">
                <p>
                    <i class="fa fa-film"></i>
                    TRAILER
                </p>
            </div>
            <div class="trailer-player">
                <iframe  th:src="${movie.trailer}" frameborder="0" title="YouTube video player"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>
        </div>
    </div>


    <th:block>
        <div class="container-comment" id="root-comment">
                <div class="col-6">
                    <div class="comment">
                    </div>
                </div>
                <div class="col-6">
                    <textarea class="input-comment" placeholder="Write a comment" type="text"></textarea>
                    <button th:id="${movie.id}"
                            class='primaryContained float-right btn-add-comment' type="submit">Bình luận</button>
                </div>
        </div>
    </th:block>

    <th:block th:each="item, iStat: ${lstParentComment}">
        <div class="container-comment">
            <th:block th:each="comment: ${item.getComments()}">
                    <div class="col-6" >
                        <div class="comment">
                            <h6 style="color:black;" th:text="${comment.user.name}">
                            </h6>
                            <p style="color:black;" th:text="${comment.content}">
                            </p>
                            <i style="color:black;"  th:text="${comment.createDate}" class="create-date">
                            </i>
                        </div>
                    </div>
            </th:block>
                <div class="col-6" th:id="${item.id}">
                    <textarea class="input-comment"
                              placeholder="Write a comment"
                              type="text"></textarea>
                    <button th:id="${movie.id}"
                            class='primaryContained float-right btn-add-comment' type=" submit">Bình luận</button>
                </div>
        </div>
    </th:block>

    <div class="container-pagination">
        <div class="pagination p1">
            <ul>
                <a th:if="${currentPage>1}"
                   th:href="@{/home/movie/{page}(page=${currentPage}-1,id=${movie.id})}"><li><</li></a>
                <th:block th:each="item:${#numbers.sequence(1,totalPage)}">
                    <a class="is-active"
                       th:if="${item==currentPage}"
                       th:href="@{/home/movie/{page}(page=${item},id=movie.id)}"
                       th:text="${item}">1</a>
                    <a
                       th:unless="${item==currentPage}"
                       th:href="@{/home/movie/{page}(page=${item},id=${movie.id})}"
                       th:text="${item}">1</a>
                </th:block>
                <a th:if="${currentPage<totalPage}"
                   th:href="@{/home/movie/{page}(page=${currentPage+1},id=${movie.id})}"><li>></li></a>
            </ul>
        </div>
    </div>


    <div class="row">
        <div class="more-like-this">
            <div class="title-relate">
                <h4 class="romantic-heading">
                    PHIM LIÊN QUAN
                </h4>
            </div>
            <div class="row-movie-relate" th:each="item:${moviesRelate}">
                <th:block th:each="img:${item.images}">
                    <div class="column-movie-relate">
                        <a href="#" th:if="${img.type=='poster'}">
                            <img class="img-relate"
                                 th:src="${img.source}">
                        </a>
                    </div>
                </th:block>
            </div>
        </div>
    </div>

</section>

<footer th:replace="web/layout/footer ::footer">

</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" type="application/javascript">
</script>
<script th:src="@{/web/js/movie-detail.js}" type="application/javascript"></script>
<script>
    window.onload=function (){
        let createTime=document.getElementsByClassName("create-date");
        for (let i=0;i<createTime.length;i++){
            createTime[i].innerText= "đã bình luận "+moment(createTime[i].innerText).fromNow();
        }
    }
</script>
</body>
</html>